html {
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
    color: #212121;
    font-size: 1em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

textarea {
    font-family: Verdana, Helvetica, Sans-Serif;
}

img {
    border: none;
}

.outerMargin {
    margin-left: 50px;
    margin-right: 50px;
}

a {
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 176, 241);
}

header, footer, hgroup, nav, section {
    display: block;
}

.content-wrapper {
    margin: 0 auto;
    width: 768px;
}

#body {
    background-color: #f8f8f8;
    clear: both;
    padding-bottom: inherit;
}

.content-wrapper-main {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    min-width: 768px;
}

.main-content {
    margin-top: 30px;
    padding-top: 20px;
    background-color: white;
    box-shadow: 0 0 5px 5px #e5e5e5;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

input, textarea, select {
    border: thin solid #c1c1c1;
    background: #fff;
    font-size: 1em;
    padding: 5px;
    width:90%
}

select {
    padding: 5px 5px 5px 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0 none;
}

th {
    font-size: 1em;
    text-align: left;
    border: none 0;
    padding-left: 0;
}

td {
    padding: 0.25em 0.25em 0.25em 0.5em;
    border: 0 none;
}

/*BUTTONS*/
a.button, button.button {
    font-family: Calibri, Sans-Serif;
    font-weight: 600;
    border: 0;
    text-decoration: none;
    background-color: #ff7a00;
    padding: 5px 10px 5px 10px;
    margin: 0 5px 0 5px;
    color: white;
    font-size: .75rem !important;
    text-transform: uppercase;
    outline: 0;
    cursor: pointer;
    line-height: normal;
}

a.redButton, button.redButton {
    background-color: #ff7a00;
}

a.blueButton, button.blueButton {
    background-color: #00b0f1;
}

.validation-summary-errors li, input.input-validation-error{
    color:crimson;
    border-color:crimson;
}